.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #a9a9a9;
    padding: 20px;
}

.header .left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.header .left h3 {
    color: #333;
}

.header .right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20%;
}

.header .right button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btnControl {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover {
    background-color: #2e6da4;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.content {
    padding: 20px;
}

.content p {
    margin-bottom: 10px;
}